{# @var tab \craft\models\FieldLayoutTab  #}
{# @var element \craft\fieldlayoutelements\CustomField #}

{% for tab in entry.type.fieldLayout.tabs %}

    <h2 class="notice">Tab: {{ tab.name }}</h2>

    {% for element in tab.elements|filter(e => e is instance of('craft\\fieldlayoutelements\\CustomField')) %}

        {% set field = element.field %}

        <article>
            <h3>
                {{ field.name }} <span style="font-weight: normal">({{ className(field) }})</span>
            </h3>

            {% include [
                "_partials/fields/#{className(field)|kebab}.twig",
                "_partials/fields/default.twig"
            ] with {
                field,
                value: entry.fieldValue(field.handle)
            } only %}
        </article>

    {% endfor %}
{% endfor %}
