{# @var tab \craft\models\FieldLayoutTab  #}
{# @var element \craft\fieldlayoutelements\CustomField #}

{% for tab in entry.type.fieldLayout.tabs %}

    <h2 class="notice">Tab: {{ tab.name }}</h2>

    {% for element in tab.elements|filter(e => e is instance of('craft\\fieldlayoutelements\\CustomField')) %}

        {% set field = element.field %}

        {% include '_partials/field-output.twig' with {
            field,
            value: entry.fieldValue(field.handle)
        } only %}

    {% endfor %}
{% endfor %}
